@import "../variables.css";

.containerAbout{
    display: flex;
    flex-direction: row;
    min-height: 85vh;
    
}
.containerAbout .iAm{
    padding: 10px 10px 0;
    /* margin-top: 10px; */
    margin: 10px 0;
    height: auto;
}
.containerAbout .iAm div{
    display: flex;
    justify-content: center;
}

.containerAbout .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10px; */
    margin: 30px 0;
    padding: 20px 20px 0;
    gap: 8px;
    text-align: justify;
}
.containerAbout .description h1{
    margin-bottom: 20px 0;
    font-family: var(--font-secondary);
    letter-spacing: 2px;
    font-size: 2rem;
    color: var(--color-titles);
}
.containerAbout .description .icon{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    transition: background-color 0.8s ease-in-out;
}
.containerAbout .description .icon:hover{
    box-shadow:  0px 7px 2px 0px rgba(100, 100, 111, 0.429);
    background-color: var(--color-details);
    padding: 3px;
    border-radius: 15px;
}
.btnTopPage{
    margin-left: 90%;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}
.btnTopPage:hover{
    box-shadow:  0px 7px 2px 0px rgba(100, 100, 111, 0.429);
    padding: 2px;
    border-radius: 25px;
}