@import "../variables.css";

.containerCurriculum{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 2% 5%;
    /* min-height: 80vh; */
}

.containerCurriculum h1, h3{
    background-color: var(--color-of-the-ends);
    font-family: var(--font-secondary);
    color: var(--color-background);
    letter-spacing: 2px;
    border-radius: 2px;
    font-size: 2rem;
    width: 98%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.containerCurriculum span{
    font-size: 2rem;
    background-color: var(--color-of-the-ends);
    font-family: var(--font-secondary);
    color: var(--color-background);

}
.containerCurriculum h1.title{
    background-color: var(--color-titles);
    color: var(--color-background);
    font-size: 3.5rem;

}

.containerCurriculum p {
    text-align: justify;
    padding: 0 15px;
    margin-bottom: 20px;
}
.containerCurriculum ul{
    padding-left: 10px;
    list-style-position: inside;
}

.containerCurriculum .habilits{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 15px;
    
}

.containerCurriculum .habilits div{
    min-width: 48%;
}
.containerCurriculum .habilits .habilitsTec{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.containerCurriculum .habilits .habilitsTec .icon{
    width: 50px;
    height: 50px;
}
