@import "../variables.css";

.card{
    /* background-color: var(--color-of-the-ends); */
    background-color: var(--color-details);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    align-items: center;
}
.card h3{
    border-radius: 8px 8px  0 0;
}
.card p{
    color: var(--color-background);
}

.card button{
    /* background-color: var(--color-details); */
    background-color: var(--color-of-the-ends);
    border-radius: 30px;
    padding: 8px;
    justify-content: end;
    align-items: start;
    margin-top: 15px;
    transition: background-color 0.2s ease-in-out;
}
.card button:hover{
    box-shadow:  0px 7px 2px 0px rgba(100, 100, 111, 0.705);
    padding: 8px;
    border-radius: 25px;
    transform: scale(1.1,1.1);
}
.card button a{
    color: white;
    
}
.display{
    border:8px solid var(--color-of-the-ends);
    border-radius: 15px 0;
    width: 100%;
    max-height: 350px;
    margin-bottom: 15px;
}