.card{
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card button{
    background-color: blue;
    border-radius: 30px;
    padding: 8px;
    justify-content: end;
    align-items: start;
}
.card button a{
    color: white;
    
}
.display{
    border:2px solid brown;
}