.card{
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 48%;
    align-items: center;
}

.card button{
    background-color: blue;
    border-radius: 30px;
    padding: 8px;
    justify-content: end;
    align-items: start;
    margin-top: 15px;
}
.card button a{
    color: white;
    
}
.display{
    border:8px solid brown;
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}