/* 
  html{
    font-size: 62.5%;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
    /* color: var(--color-font-principal); */
    /* color: var(--color-details); 
    font-size: 1.5rem;
  }

  a{
    text-decoration: none;
    cursor: pointer;
  } 
  */  